.cadastro-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadastro-form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cadastro-form h1 {
  text-align: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-group input {
  height: 45px;
  padding: 0 10px;
  border-radius: 8px;
  outline: none;
}

.cadastro-form button {
  height: 45px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #ff6600;
}

.login-link {
  margin-top: 10px;
  text-align: center;
  color: white;
  font-size: 0.95rem;
}

.login-link span {
  color: #009dff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
}

.login-link span:hover {
  color: #5cc3ff;
  transform: scale(1.03);
}