.product-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding-top: 50px; 
    padding-bottom: 50px;
    box-sizing: border-box; 
}