.product-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    /* Troque margin por padding para o fundo acompanhar */
    padding-top: 50px; 
    padding-bottom: 50px;
    
    /* Garante que ele não herde tamanhos estranhos */
    box-sizing: border-box; 
}